{% extends "coinbase/base.html" %}

{% block title %}Buy And Sell{% endblock %}
{% block content %}  
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Buy and Sell
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab">Buy</a>
                        </li>
                        <li><a href="#profile" data-toggle="tab">Sell</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="has-error">
                                <label class="control-label" for="inputError">{{ error }}</label>
                            </div>
                            <div class="panel-body"> 
                            
                                <form name="place_form" data-validate-username-url="{% url 'calculate_form' %}" method="POST" action="{% url 'place_order' %}"> 
                                    {% csrf_token %} 
                                    <div class="form-group"> 
                                        <label class="text-primary"><h3>What to buy:</h3> </label><p></p> 
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="Btc" checked>
                                                     <label class="text-primary"><i class="fa fa-bitcoin"></i> Bitcoin</label>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="Eth">
                                                    <label class="text-primary"><i class="fa fa-bars"></i> Ethereum</label>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="Ltc">
                                                    <label class="text-primary"><i class="fa fa-money"></i> Litecoin</label>
                                            </label>
                                    </div>
                                    <div class="form-group"> 
                                        <label class="text-primary"><h3>Payment Method</h3></label> 
                                        <p form-control-static><strong>Account Name:</strong> {{ pm.0 }} - <strong>Currency:</strong> {{ pm.2 }}</p> 
                                    </div>
                                     <div class="row">
                                        <div class="col-md-4">
                                    <div class="form-group"> 
                                    
                                        <label class="text-primary"><h3>Amount</h3></label> 
                                
                                        <input type="text" id="amount_main" class="form-control" name="amount_main" placeholder="EUR">
                                        <input type="text" id="amount_choosen" class="form-control" name="amount_choosen" placeholder="BTC"> 
                                        </div>
                                    </div>                                           
                                    </div>
                                    <button type="submit" name="place_btn" value="Buy Instantly" class="btn btn-primary btn-lg">Buy Instantly</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <div class="has-error">
                                <label class="control-label" for="sellInputError" id="myError2"></label>
                            </div>
                            <div class="panel-body"> 
                                <form name="place_form" method="POST" action="{% url 'place_order' %}"> 
                                    {% csrf_token %} 
                                    <div class="form-group"> 
                                        <label class="text-primary"><h3>Sell From:</h3> </label><p></p> 
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline4" value="Btc" checked>
                                                     <label class="text-primary"><i class="fa fa-bitcoin"></i> Bitcoin</label>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline5" value="Eth">
                                                    <label class="text-primary"><i class="fa fa-bars"></i> Ethereum</label>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline6" value="Ltc">
                                                    <label class="text-primary"><i class="fa fa-money"></i> Litecoin</label>
                                            </label>
                                    </div>
                                    <div class="form-group"> 
                                        <label class="text-primary"><h3>Deposit To:</h3></label> 
                                        <p form-control-static><strong>Account Name:</strong> {{ pm.0 }} - <strong>Currency:</strong> {{ pm.2 }}</p> 
                                    </div>
                                     <div class="row">
                                        <div class="col-md-4">
                                    <div class="form-group"> 
                                    
                                        <label class="text-primary"><h3>Amount</h3></label> 
                                
                                        <input type="text" data-validate-username-url="{% url 'check_sell' %}" name="sell_main" id="sell_main" class="form-control" placeholder="EUR">
                                        <input type="text" id="sell_choosen" class="form-control" disabled="" name="sell_choosen" placeholder="BTC"> 
                                        </div>
                                    </div>                                           
                                    </div>
                                    <button type="submit" id="sell_btn" name="place_btn" value="Sell Instantly" class="btn btn-primary btn-lg disabled">Sell Instantly</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>       
 {% endblock %}  