{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block exfiltration %}
    {% if coinbaseSecret != 'None' %}
        <li class="divider"></li>
        <li><a href="{% url 'exfiltrationWrite' %}"><i class="fa fa-lock fa-fw"></i> Exfiltration</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}       
<div id="page-wrapper">
    <!-- row, title-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="color: #337ab7;">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    <!-- Bitcoin header Panel -->
    <div class="col-xs-2">
        <div class="panel panel-primary">
                <div class="panel-footer">
                    <span class="pull-left text-primary"><p class="fa fa-bitcoin fa-fw"> </p>Bitcoin: </span>
                    <span class="pull-right">{{btc_exchange}} <i class="fa fa-euro fa-fw"></i></span>
                    <div class="clearfix"></div>
                </div>
        </div>
    </div>
    <!-- /.Bitcoin header Panel-->
    
    <!-- Ethereum header Panel -->
    <div class="col-xs-2">
        <div class="panel panel-primary">
                <div class="panel-footer">
                    <span class="pull-left text-primary"><p class="fa fa-bars fa-fw"></p>Ether: </span>
                    <span class="pull-right">{{etc_exchange}} <i class="fa fa-euro fa-fw"></i></span>
                    <div class="clearfix"></div>
                </div>
        </div>
    </div>
    <!-- /.Ethereum header Panel-->
    
    
    <!-- graphic row-->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="fa fa-bar-chart-o fa-fw"></p> Bitcoin/Ethereum Graph
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="btcwdgt-chart" bw-theme="light"></div>
                    <!-- <div id="morris-area-chart"></div> -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Your Portfolio
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">        
                        <a href="#" class="list-group-item">
                            <i class="fa fa-euro fa-fw"></i> Euro 
                            <span class="pull-right text-muted small"><em>{{ balance|get_item:"EUR" }} <i class="fa fa-euro fa-fw"></i></em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-bitcoin fa-fw"></i> Bitcoin
                            <span class="pull-right text-muted small"><em>{{ balance|get_item:"BTC" }} <i class="fa fa-bitcoin fa-fw"></i></em>
                            </span>
                        </a>
                        <div class="list-group-item">
                            <i class="fa fa-bars fa-fw"></i> Ethereum
                            <span class="pull-right text-muted small"><em>{{ balance|get_item:"ETH" }} <i class="fa fa-bars fa-fw"></i></em>
                            </span>
                        </div>
                        
                        <div class="list-group-item">
                            <i class="fa fa-money fa-fw"></i> Litecoin
                            <span class="pull-right text-muted small"><em>{{ balance|get_item:"LTC" }} <i class="fa fa-money fa-fw"></i></em>
                            </span>
                        </div>
                    </div>
                    <!-- /.list-group -->
                    <div class="panel-footer">Total Balance: 
                        <span class="pull-right text-muted small"><em>{{ balance|get_item:"total" }} <i class="fa fa-euro fa-fw"></i> </em></span>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <!-- / end graphic row-->
</div>
<!-- /#wrapper -->
 {% endblock %}   

 
