{% extends "base.html" %}

{% block title %}Settings{% endblock %}
{% block content %}  
<div id="page-wrapper">
    <!-- row, title-->
    <div class="row">
        <div class="col-lg-2">         
            <h4 class="page-header" style="color: #337ab7;"> 
            <a href="settings.html">My Profile </a>
            </h4>
        </div>     
        <div class="col-lg-2">         
            <h4 class="page-header" style="color: #337ab7;"> 
            <a href="recurring_payments.html"> Preferences</a>

            </h4>
        </div> 
        <div class="col-lg-2">         
            <h4 class="page-header" style="color: #337ab7;"> 
            <a href="reports.html"> Security</a>

            </h4>
        </div> 
        <div class="col-lg-3">         
            <h4 class="page-header" style="color: #337ab7;">
            <a href="history.html"> Payment Methods</a>
            </h4>
        </div>
        <div class="col-lg-2">         
            <h4 class="page-header" style="color: #337ab7;">
            <a href="history.html"> API Access</a>
            </h4>
        </div> 
                          
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header" style="color: #337ab7;">User Profile</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form role="form">
                <div class="row">
                    <div class="col-lg-4 col-md-offset-1" >
                        <div class="form-group">
                            <label>Change picture</label>
                            <input type="file">                  
                        </div>
                    </div>
                    <div class="col-lg-6">
                        Change Password
                        <button type="button" onclick="alert('Formulario con cambio de password, jodienda');" class="btn btn-primary btn-lg" style="margin-left:20px;">New Password</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-offset-1">
                        <div class="form-group">
                            <label>Nick Name </label>
                            <input class="form-control" placeholder="client.get_current_user()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-offset-1">
                        <div class="form-group">
                            <label>Email Address </label>
                            <input class="form-control" placeholder="client.get_current_user()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-offset-7">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header" style="color: #337ab7;">Personal Details</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-offset-2">
                <div class="row">
                    <div class="col-lg-1">
                        <h4><i class="fa fa-lock"></i></h4>
                    </div>
                    <div class="col-lg-5 pull-left">
                        <h4>Personal Details</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        Your personal information is never shown to other users.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form role="form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Legal Name </label>
                                <input class="form-control" placeholder="client.get_current_user()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Date of Birth </label>
                                <input class="form-control" placeholder="No hay date picker">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Street Address 1 </label>
                                <input class="form-control" placeholder="client.get_current_user()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Street Address 2 </label>
                                <input class="form-control" placeholder="client.get_current_user()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>City</label>
                                <input class="form-control" placeholder="client.get_current_user()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Postal Code </label>
                                <input class="form-control" placeholder="client.get_current_user()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Country </label>
                                <input class="form-control" placeholder="client.get_current_user()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-default" style="margin-bottom:20px;">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}